<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" description="{{HtmlWebPackPlugin.options.description}}" content="width=device-width, initial-scale=1.0">
    <title>{{HtmlWebPackPlugin.options.title}}</title>
    <link rel="stylesheet" href="./dist/style.65c510be3ac5cb58fd97.css">
</head>
<body>
    
    <script src="./dist/bundle.9b836157734d401da338.js"></script>
</body>
</html> 